{
    "plugins":[
        ["typecheck", {
            "disable": {
                "development": true,
                "production": true
            }
        }],
        "add-module-exports"
    ],
    "presets":[
        "es2015",
        "stage-0"
    ]
}
