{
  "extends": "rapid7/browser",
  "globals":{
    "__dirname": true,
    "global": true,
    "jQuery": true,
    "module": true,
    "require": true,
    "process": true
  },
  "parser":"babel-eslint",
  "rules":{}
}
