<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            isit.js testing playground
        </title>
    </head>

    <body>
        <div id="app-container">
            This is a playground for testing the functions while seeing the output in an actual browser. If you update index.js in the views/ folder, you'll see the output in your browser's console.
        </div>

        <script src="http://localhost:4444/dist/isit.js"></script>
    </body>
</html>